# Fichiers python compilés
__pycache__/
*.py[cod]

# Cache vscode
.vscode/

# Venv files
venv/*

# Databases files :
backend/instance/*
*.db
data/*
*.sql

# fichier de rollback :
*.bak

# fichiers de config :
*.env
*.conf
*.sh
